<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'blockchain')}">
<head>
    <meta charset="UTF-8"/>
    <title>Add transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<!--/*@thymesVar id="block" type="com.muzzy.domain.BlockVerified"*/-->
<body>
<h1><span class="badge badge-secondary">New transaction</span></h1>
<div class="container-fluid align-center">
    <form th:action="@{'/transactions/add'}" th:object="${transactionDto}" th:method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Sender</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" th:field="*{sender}"  readonly>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Value</label>
            <input type="number" th:field="*{value}" class="form-control" id="exampleFormControlInput2" placeholder="Value">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Error</div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select receiver</label>
            <select class="form-control" id="exampleFormControlSelect1"
            th:field="*{receiver}">
                <option value="" selected>Choose...</option>
                <option th:each="receiver : ${receivers}"
                        th:value="${receiver}"
                        th:utext="${receiver}"
                />
            </select>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('receiver')}" th:errors="*{receiver}">Error</div>
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Send funds" />
    </form>
</div>

</body>
</html>
