<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h2>Pair of keys</h2>
    <p><h3>Private Key</h3>
        <code th:text="${prvKey}"></code>
    </p>
      <p><h3>Public Key</h3>
        <code th:text="${pubKey}"></code>
    </p>

    <h2>Test Pair</h2>
    <form action="#" th:action="@{/keys/submited}" th:object="${String}" method="post">
        <input type="text" th:field="*{pubKey}"/>
        <input type="submit" value="Check keys"/>
    </form>

</body>
</html>

